@model RegisterResultModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);

    //continue URL
    var qs = this.Context.Request.Query["ReturnUrl"];
    var continueUrl = "";
    if (!String.IsNullOrEmpty(qs) && Url.IsLocalUrl(qs))
    {
        continueUrl = qs;
    }
    else
    {
        continueUrl = Url.RouteUrl("HomePage");
    }
}
<div class="page registration-result-page text-xs-center">
    <br />
    <br />
    <h1 class="generalTitle">@T("Account.Register")</h1>
    <section class="result alert alert-success">
        @Model.Result
    </section>
    <div class="btn-group generalMarginSupporter">
        <input type="button" class="btn btn-info register-continue-button" onclick="location.href='@continueUrl'" value="@T("Account.Register.Result.Continue")" >
    </div>
</div>
